.modal-con{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /*100%*/
  width: 100%; /*100%*/
  /* background-color: gray; */
  /* box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px; */
  z-index : 1;
}

.modal-back::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /*100%*/
    width: 100%; /*100%*/
    background-color: gray;
    z-index : -1;
    opacity: 0.5;
    content: "";
  }

.modal-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;  
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-sub{
    background-color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 88%;
    /*height: 340px;*/
    border-radius: 30px;
}

.modal-login-box{
    margin: 3%;
    margin-top: 13px;
}

.modal-join{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.modal-input{
    border: none;
    width: 98%;
    margin-bottom: 5px;
}
.modal-input-brd{
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 100%;
}

.dis-center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.modal-main-box{
    /*margin-top: 20px;*/
}

.modal-blank-top{
    margin: 12px 0 8px 0;
}

.modal-blank-buttom{
    margin: 20px 0 8px 0;
}

.black {
    width: 1px;
    height: 100%;
    margin: 0px 8px;
}

.modal-join-box{
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: right;
    letter-spacing: -0.03em;
    color: rgb(155, 153, 153);
    cursor: pointer;
}

.modal-default-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 51px;
    background: rgb(241 232 232);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(35, 35, 35);
    font-size: 1.2rem;
    line-height: 16px;
    background-color: rgb(52, 47, 47);
    color: white;
    margin-top: 7px;
}

input:focus {
    outline: none;
}

.modal-back-btn{
    margin: 7px 3px;
    width:29px;
}

.kakao-login{
	background-color: rgb(254, 229, 0);
	color:rgb(35, 35, 35);
}